/* 
 * FlowupLabels Basic Stylesheet 
 * -----------------------------
 * This style sheet is marked with comments indicating 
 * what should and what shouldn't be changed for your 
 * styling purposes.
 */
 
 .FlowupLabels .fl_wrap {
  /* Can change */
  width: 500px;
  height: 46px;
  margin: 12px auto; /* change 0 to auto for center alignment */
  margin-top: 30px;
  /* Don't change */
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* initial label state */
.FlowupLabels .fl_label {
  /* Can change */
  top: 10px;
  left: 5px;
  font-size: 1.3em;
  color: #fff;

  /* Don't change */
  position: absolute;
  z-index: 3; /* This can be removed but then the labels must be placed after the inputs in the HTML */
  -webkit-transition: all .05s linear;
  -moz-transition: all .05s linear;
  -transition: all .05s linear;
}

.FlowupLabels .fl_input {
  /* Can change */
  background: none;
  background-color: rgba(255,255,255,.3);
  /*   border-right: 2px solid #529ECC; */
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  line-height: 22px;
  padding: 20px 0 0 5px;
  
  /* Don't change */
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  width: 100%;
  z-index: 2; /* This can be removed but then the labels must be placed after the inputs in the HTML */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Focus & populated label styling */
.FlowupLabels .fl_wrap.focused .fl_label,
.FlowupLabels .fl_wrap.populated .fl_label,
/* and graceful degradation */
.no-js .FlowupLabels .fl_label {
  /* Can change */
  top: 0;
  font-size: 12px;
  /*  color: #529ECC; */
  color: #333;
}
.FlowupLabels .fl_wrap.focused .fl_label {
  /* Can change */
  /*  color: #529ECC; */
  color: #333;
  
}