* {
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.bgImg {
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../img/bg2.jpg"); }

header {
  height: 60px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.13);
  padding-left: 10%;
  padding-right: 10%; }

h1 {
  margin: 0;
  margin-top: 15px;
  color: #fff;
  display: inline-block;
  font-size: 1.8em; }

.headerRight {
  float: right;
  margin-top: 10px; }
  .headerRight a {
    color: #fff; }

.headerIcon {
  margin-right: 25px;
  font-size: 1.5em;
  vertical-align: middle; }

.pencilHeader {
  color: #529ECC;
  font-size: 3em; }

.headerSearch {
  display: inline-block;
  width: 25%;
  margin-left: 10px; }

.searchInput {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0;
  height: 35px;
  outline: none;
  color: #fff; }

.searchInput:focus {
  padding-left: 15px; }

.homePosts {
  margin-top: 3%; }

.newPostHome {
  width: 50%;
  display: block;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 3%;
  position: relative; }
  .newPostHome ul li {
    display: inline-block;
    color: #333;
    margin: 15px;
    text-transform: capitalize;
    padding: 10px; }
  .newPostHome ul li i {
    display: block;
    text-align: center;
    font-size: 3em;
    color: #2B3E50; }

.soloPostHome {
  background-color: #fff;
  width: 60%;
  display: block;
  margin: auto;
  margin-top: 15px;
  border-radius: 5px; }
  .soloPostHome img {
    width: 98%;
    margin: 6px; }
  .soloPostHome video {
    max-width: 99%;
    margin: 3px; }
  .soloPostHome audio {
    max-width: 99%;
    margin: 3px; }
  .soloPostHome .contentSubs {
    color: #333;
    font-size: 1.4em;
    margin: 5px; }

.whoPostThat {
  display: block;
  color: #333;
  padding: 5px; }

.aboutThatPost {
  padding: 5px;
  color: #333; }

.test {
  width: 50px;
  display: inline-block; }

.registerSection {
  display: block;
  margin: auto;
  width: 50%;
  margin-top: 10%;
  padding: 10px; }
  .registerSection input {
    width: 50%;
    height: 50px;
    border: 0;
    color: #fff; }

.contRegisterInput {
  display: block;
  margin: auto;
  width: 50%; }

.underUsername {
  display: block; }

.fileUpload {
  position: relative;
  overflow: hidden;
  background-color: #2B3E50;
  /* 	border: 1px solid $headerBlue;
  */
  margin: 10px;
  border-radius: 3px;
  margin-top: 20px;
  width: 50%;
  font-size: 1.5em; }
  .fileUpload input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 3em;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0); }

.subBtn {
  display: block;
  margin: auto;
  background-color: #529ECC;
  border-radius: 3px;
  margin-top: 50px; }

.jumbotron {
  background: none;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 15%; }
  .jumbotron h1 {
    font-weight: bold;
    color: #fff; }
  .jumbotron p {
    color: #fff;
    width: 60%;
    display: block;
    margin: auto; }

.descHomepage {
  background-color: #fff;
  color: #333; }
  .descHomepage p {
    font-size: 2em;
    text-align: center; }

.starBlogs {
  max-width: 100%;
  margin-top: 30px;
  padding-left: 50px; }

.soloStarBlog {
  background-color: #fff;
  display: inline-block;
  margin: 20px;
  max-width: 22%;
  color: #333;
  vertical-align: top; }
  .soloStarBlog img {
    width: 100%;
    display: block;
    margin: auto; }
  .soloStarBlog p {
    margin: 10px; }
  .soloStarBlog h3 {
    margin: 5px; }

.headerBtn {
  border-radius: 4px;
  margin-right: 10px;
  background-color: #529ECC; }

.errorDiv {
  display: none; }

.loginModal {
  border-radius: 5px; }

.aboutRegister p {
  font-size: 1.5em;
  text-align: center; }

.backHome {
  position: absolute;
  top: 15px;
  font-size: 1.2em; }

.userMenu {
  position: absolute;
  background-color: #fff;
  transition: .3s;
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 5px;
  border-radius: 4px; }
  .userMenu li {
    color: #333; }

.none {
  display: none; }

.center {
  display: block;
  margin: auto; }

.blogCreateForm {
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 20%; }
  .blogCreateForm label {
    font-size: 1.4em; }
  .blogCreateForm textarea {
    height: 150px;
    font-size: 1.5em; }
  .blogCreateForm input[type="submit"] {
    height: 60px;
    width: 200px;
    font-size: 1.8em;
    border-radius: 5px; }

.blogNameInput {
  height: 70px;
  font-size: 2em; }

.blogHeader {
  display: block;
  margin: auto;
  text-align: center;
  z-index: 9000;
  color: #333; }
  .blogHeader h1 {
    color: #529ECC; }
  .blogHeader em {
    display: block; }

.blogPostCont {
  margin-top: 3%; }

.blogSoloPost, .soloPagePost, .commentsCont {
  border: 1px solid #ccc;
  display: block;
  margin: auto;
  width: 35%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px; }
  .blogSoloPost p, .soloPagePost p, .commentsCont p {
    padding: 0;
    margin: 0;
    color: #333; }
  .blogSoloPost em, .soloPagePost em, .commentsCont em {
    color: #333; }
  .blogSoloPost img, .soloPagePost img, .commentsCont img {
    display: block;
    margin: auto;
    max-width: 100%; }
  .blogSoloPost strong, .soloPagePost strong, .commentsCont strong {
    font-size: 2em;
    color: #529ECC;
    display: block;
    text-align: center; }
  .blogSoloPost h2, .soloPagePost h2, .commentsCont h2 {
    margin: 0;
    padding: 0;
    color: #529ECC; }
  .blogSoloPost p, .soloPagePost p, .commentsCont p {
    color: #333;
    margin-top: 5px; }
  .blogSoloPost quote, .soloPagePost quote, .commentsCont quote {
    display: block;
    color: #333;
    font-size: 2.3em;
    padding: 0;
    margin: 0; }
  .blogSoloPost i, .soloPagePost i, .commentsCont i {
    font-size: 1.2em;
    color: #999; }

hr {
  margin: 0;
  padding: 0;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.13); }

.rootCont {
  margin-top: 7%; }

.rootWell {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding: 0; }
  .rootWell iframe {
    width: 100%;
    height: 400px;
    border: 0;
    padding: 0;
    margin: 0;
    overflow-y: hidden; }
  .rootWell h2 {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center; }
  .rootWell table {
    width: 100%;
    border-right: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-top: 1px solid #ccc; }
    .rootWell table thead th {
      font-size: 1.6em;
      text-align: center; }
    .rootWell table tbody tr td {
      font-size: 1.5em; }
    .rootWell table tbody tr td:last-child {
      text-align: center; }
    .rootWell table tbody tr:nth-child(odd) {
      background-color: #529ECC; }

#homePost select {
  width: 50%;
  color: #333;
  font-size: 1.4em;
  height: 40px; }
#homePost textarea {
  max-width: 100%;
  height: 200px; }

#okNewPost {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 15px; }

#closeNewPost {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 15px; }

#wrapPhotoUpload {
  position: relative;
  height: 200px;
  padding: 0;
  margin-top: 50px;
  background-color: #F2F2F2;
  border-top: 2px dashed #aaa;
  border-bottom: 2px dashed #aaa; }
  #wrapPhotoUpload input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    border: 0;
    opacity: 0;
    width: 100%;
    height: 100%; }
  #wrapPhotoUpload i {
    display: block;
    text-align: center;
    font-size: 5em;
    color: #555;
    margin-top: 7%; }
  #wrapPhotoUpload b {
    color: #777;
    font-family: 'Lato Italic';
    display: block;
    text-align: center;
    font-size: 2em; }

.addPhotoLink {
  display: block;
  text-align: center;
  color: #333;
  margin-top: 20px; }

.pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -100px; }

#rightHeaderBlog {
  position: fixed;
  right: 0;
  top: 0;
  margin: 20px; }
  #rightHeaderBlog .subBlogBtn {
    background-color: #529ECC; }

.soloPagePost {
  width: 60%; }

.commentsCont {
  width: 40%; }

.soloComment b {
  display: block;
  font-size: 1.3em; }

#headerBann {
  position: absolute;
  z-index: -1;
  width: 100%;
  border: solid;
  max-height: 300px;
  overflow: hidden; }

.editH {
  display: block;
  text-align: center; }

.bann {
  width: 100%;
  border: solid;
  max-height: 500px;
  margin-top: -100px; }

.editBlogCont {
  width: 75%; }
  .editBlogCont .well {
    display: block;
    margin-top: 50px; }
  .editBlogCont iframe {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0; }

.soloPostWell {
  width: 60%;
  display: block;
  margin: auto;
  margin-top: 20px; }
  .soloPostWell ul {
    padding: 0;
    margin: 0;
    margin-top: 10px; }
    .soloPostWell ul li {
      list-style: none; }
  .soloPostWell img {
    max-width: 100%; }

.soloPostComments {
  width: 60%;
  display: block;
  margin: auto;
  margin-top: 20px; }
  .soloPostComments h2 {
    display: block;
    text-align: center; }
  .soloPostComments table {
    width: 100%; }

.editHeadTitle {
  margin: 10px;
  font-size: 2.6em; }
  .editHeadTitle #opac {
    z-index: 1;
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    /* IE6-9 */ }

#goBack {
  margin: 20px; }

#contactBlog input {
  display: block;
  margin: auto;
  width: 100%;
  margin-top: 5px; }
#contactBlog textarea {
  margin-top: 10px; }

#contactTheAuthor {
  text-transform: capitalize;
  cursor: pointer;
  display: block; }

.inpFileHome {
  display: block;
  margin: auto;
  margin-top: 25%; }

/*# sourceMappingURL=main.css.map */
