@import 'vars.scss';


* {
	outline: none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

body {

}

html {

}

.bgImg {
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url('../img/bg2.jpg');
}

header {
	height: 60px;
	box-shadow: 0 0 0 1px rgba(255,255,255,.13);
	padding-left: 10%;
	padding-right: 10%;
}

h1 {
	margin: 0;
	margin-top: 15px;
	color: #fff;
	display: inline-block;
	font-size: 1.8em;
}

.headerRight {
	float: right;
	margin-top: 10px;

	a {
		color: #fff;
	}
}

.headerIcon {
	margin-right: 25px;
	font-size: 1.5em;
	vertical-align: middle;
}

.pencilHeader {
	color: #529ECC;
	font-size: 3em;
}

.headerSearch {
	display: inline-block;
	width: 25%;
	margin-left: 10px;
}

.searchInput {
	width: 100%;
	background-color: rgba(0,0,0,.2);
	border: 0;
	height: 35px;
	outline: none;
	color: #fff;
}

.searchInput:focus {
	padding-left: 15px;
}


.homePosts {
	margin-top: 3%;
}

.newPostHome {
	width: 50%;
	display: block;
	margin: auto;
	background-color: #fff;
	border-radius: 5px;
	margin-bottom: 3%;
	position: relative;

	ul li {
		display: inline-block;
		color: #333;
		margin: 15px;
		text-transform: capitalize;
		padding: 10px;
	}

	ul li i {
		display: block;
		text-align: center;
		font-size: 3em;
		color: $bg;
	}
}

.soloPostHome {
	background-color: #fff;
	width: 60%;
	display: block;
	margin: auto;
	margin-top: 15px;
	border-radius: 5px;

	img {
		width: 98%;
		margin: 6px;
	}

	video {
		max-width: 99%;
		margin: 3px;
	}

	audio {
		max-width: 99%;
		margin: 3px;
	}

	.contentSubs {
		color: #333;
		font-size: 1.4em;
		margin: 5px;
	}
}

.whoPostThat {
	display: block;
	color: #333;
	padding: 5px;
}

.aboutThatPost {
	padding: 5px;
	color: #333;
}

.test {
	width: 50px;
	display: inline-block;
}

.registerSection {
	display: block;
	margin: auto;
	width: 50%;
	margin-top: 10%;
	padding: 10px;

	input {
		width: 50%;
		height: 50px;
		border: 0;
		color: #fff;
		
	}
}

.contRegisterInput {
	display: block;
	margin: auto;
	width: 50%;
}

.underUsername {
	display: block;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	background-color: $bg;
/* 	border: 1px solid $headerBlue;
*/	margin: 10px;
border-radius: 3px;
margin-top: 20px;
width: 50%;
font-size: 1.5em;

input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 3em;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
}

.subBtn {
	display:block;
	margin: auto;
	background-color: $headerBlue;
	border-radius: 3px;
	margin-top: 50px;
}

.jumbotron {
	background: none;
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 15%;

	h1 {
		font-weight: bold;
		color: #fff;
	}

	p {
		color: #fff;
		width: 60%;
		display: block;
		margin: auto;
	}
}

.descHomepage {
	background-color: #fff;
	color: #333;

	p {
		font-size: 2em;
		text-align: center;
	}
}

.starBlogs {
	max-width: 100%;
	margin-top: 30px;
	padding-left: 50px;
}

.soloStarBlog {
	background-color: #fff;
	display: inline-block;
	margin: 20px;
	max-width: 22%;
	color: #333;
	vertical-align: top;

	img {
		width: 100%;
		display: block;
		margin: auto;
	}

	p {
		margin: 10px;
	}

	h3 {
		margin: 5px;
	}
}

.headerBtn {
	border-radius: 4px;
	margin-right: 10px;
	background-color: $headerBlue;
}

.errorDiv {
	display: none;
}

.loginModal {
	border-radius: 5px;
}

.aboutRegister {

	p {
		font-size: 1.5em;
		text-align: center;
	}
}

.backHome {
	position: absolute;
	top: 15px;
	font-size: 1.2em;
}

.userMenu {
	position: absolute;
	background-color: #fff;
	transition: .3s;
	list-style: none;
	margin: 0;
	padding: 0;
	padding: 5px;
	border-radius: 4px;

	li {
		color: #333;
	}
}

.none {
	display: none;
}

.center {
	display: block;
	margin: auto;
}

.blogCreateForm {
	width: 50%;
	display: block;
	margin: auto;
	margin-top: 20%;

	label {
		font-size: 1.4em;
	}

	textarea {
		height: 150px;
		font-size: 1.5em;
	}

	input[type="submit"] {
		height: 60px;
		width: 200px;
		font-size: 1.8em;
		border-radius: 5px;
	}
}

.blogNameInput {
	height: 70px;
	font-size: 2em;
}

.blogHeader {
	display: block;
	margin: auto;
	text-align:center;
	z-index: 9000;
	color: #333;

	h1 {
		color: $headerBlue;
	}
	em {
		display: block;
	}
}

.blogPostCont {
	margin-top: 3%;
}

.blogSoloPost {
	border: 1px solid #ccc;
	display: block;
	margin: auto;
	width: 35%;
	margin-top: 10px;
	padding: 10px;
	border-radius: 4px;

	p {
		padding: 0;
		margin: 0;
		color: #333;
	}

	em {
		color: #333;
	}

	img {
		display: block;
		margin: auto;
		max-width: 100%;
	}

	strong {
		font-size: 2em;
		color: $headerBlue;
		display: block;
		text-align: center;
	}

	h2 {
		margin: 0;
		padding: 0;
		color: $headerBlue;
	}

	p {
		color: #333;
		margin-top: 5px;
	}

	quote {
		display: block;
		color: #333;
		font-size: 2.3em;
		padding: 0;
		margin: 0;
	}

	i {
		font-size: 1.2em;
		color: #999;
	}
}

hr {
	margin: 0;
	padding: 0;
	box-shadow: 0 0 0 1px rgba(255,255,255,.13);
}

.rootCont {
	margin-top: 7%;
}

.rootWell {
	display: inline-block;
	width: 100%;
	vertical-align:top;
	padding: 0;

	iframe {
		width: 100%;
		height: 400px;
		border: 0;
		padding: 0;
		margin: 0;
		overflow-y:hidden;
	}

	h2 {
		display: block;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	table {
		width: 100%;
		border-right: 2px solid #ccc;
		border-left: 2px solid #ccc;
		border-top: 1px solid #ccc;

		thead {
			th {
				font-size: 1.6em;
				text-align: center;
			}
		}

		tbody {
			tr {
				td {
					font-size: 1.5em;
				}
				td:last-child {
					text-align: center;
				}

			}
			tr:nth-child(odd) {
				background-color: $headerBlue;
			}
		}
	}
}

#homePost {
	select {
		width: 50%;
		color: #333;
		font-size: 1.4em;
		height: 40px;
	}

	textarea {
		max-width: 100%;
		height: 200px;
	}

}

#okNewPost {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 15px;
}

#closeNewPost {
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 15px;
}

#wrapPhotoUpload {
	position: relative;
	height: 200px;
	padding: 0;
	margin-top: 50px;
	background-color: $greyClair;
	border-top: 2px dashed #aaa;
	border-bottom: 2px dashed #aaa;

	input[type="file"] {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		border: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
	}

	i {
		display: block;
		text-align: center;
		font-size: 5em;	
		color: #555;
		margin-top: 7%;
	}

	b {
		color: #777;
		font-family: 'Lato Italic';
		display: block;
		text-align: center;
		font-size: 2em;
	}
}

.addPhotoLink {
	display: block;
	text-align: center;
	color: #333;
	margin-top: 20px;
}

.pagination {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -100px;
}

#rightHeaderBlog {
	position: fixed;
	right: 0;
	top: 0;
	margin: 20px;

	.subBlogBtn {
		background-color: $headerBlue;
	}
}

.soloPagePost {
	@extend .blogSoloPost;
	width: 60%;
}

.commentsCont {
	@extend .blogSoloPost;
	width: 40%;
}

.soloComment {
	b {
		display: block;
		font-size: 1.3em;
	}
}

#headerBann {

	position: absolute;
	z-index: -1;
	width: 100%;
	border: solid;
	max-height: 300px;
	overflow: hidden;

}
.editH {
	display: block;
	text-align: center;
}

.bann 
{
	width: 100%;
	border: solid;
	max-height: 500px;
	margin-top: -100px;
}
.editBlogCont {
	width: 75%;

	.well {
		display: block;
		margin-top: 50px;
	}

	iframe {
		width: 100%;
		border: 0;
		margin: 0;
		padding: 0;
	}
}

.soloPostWell {
	width: 60%;
	display: block;
	margin: auto;
	margin-top: 20px;
	ul {
		padding: 0;
		margin: 0;
		margin-top: 10px;
		li {
			list-style: none;
		}
	}

	img {
		max-width: 100%;
	}
}

.soloPostComments {
	width: 60%;
	display: block;
	margin: auto;
	margin-top: 20px;

	h2 {
		display: block;
		text-align: center;
	}

	table {
		width: 100%;
	}
}

.editHeadTitle {
	margin: 10px;
	font-size: 2.6em;

	#opac
	{

		z-index: 1;
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: 0;
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

	}
}

#goBack {
	margin: 20px;
}

#contactBlog {
	input {
		display:block;
		margin: auto;
		width: 100%;
		margin-top: 5px;
	}

	textarea {
		margin-top: 10px;
	}
}

#contactTheAuthor {
	text-transform: capitalize;
	cursor: pointer;
	display: block;
}

.inpFileHome {
	display: block;
	margin: auto;
	margin-top: 25%;
}